<div class="col">
    <div class="row">
        <span class="col-sm-2"></span>
        <span class="col-sm-8 h2 text-center py-4 ">New Post</span>
        <span class="col-sm-2"></span>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <form class="col-sm-4 border border-dark bg-white p-4">
            <div class="form-group">
                <label for="photo" class="font-weight-bold">Photo</label>
                <input type="file" class="form-control-file" id="photo" name="profile_photo">
            </div>
            <div class="form-group">
                <label for="caption" class="font-weight-bold">Caption</label>
                <textarea name="description" id="caption" class="form-control" placeholder="Write a caption..."></textarea>
            </div>

            <button class="btn btn-success btn-block btn-lg font-weight-bold">
                Submit
            </button>
        </form>
        <div class="col-sm-4"></div>
    </div>
</div>